$white: #fff;
$black: #000;

$gray-lightest: #f6f6f6;
$gray-lighter: #dadce0;
$gray: #6d6e70;

$green: #42b983;
$dark-green: #307958;

$red: #ff0000;

$color-error: $red;

$border-default: 1px solid $gray-lighter;
